node_modules
.vscode
__scratchpads
.python-version
dist
coverage

*.js
!.eslintrc.js
!jest.config.js
junit.xml
*.tgz

# Submodules generated when building dist
asn1
assert
cognito-verifier
error
https
jwk
jwt-model
jwt-rsa
jwt
safe-json-parse
