node_modules
.vscode
__scratchpads
.python-version
dist
coverage

*.js
!.eslintrc.js
!jest.config.js
junit.xml
*.tgz

# Submodules generated when building dist
asn1.d.ts
assert.d.ts
cognito-verifier.d.ts
error.d.ts
https-common.d.ts
https-node.d.ts
https.d.ts
index.d.ts
jwk.d.ts
jwt-model.d.ts
jwt-rsa.d.ts
jwt.d.ts
node-web-compat*.d.ts
safe-json-parse.d.ts
test-util.d.ts
typing-util.d.ts
