__*
.vscode
coverage
dist

# Submodules generated when building dist
asn1.d.ts
assert.d.ts
error.d.ts
https.d.ts
jwk.d.ts
jwt.d.ts
test-util.d.ts
cognito-verifier.d.ts
jwt-model.d.ts
jwt-rsa.d.ts
safe-json-parse.d.ts
typing-util.d.ts

# compiled js
src/*.js
tests/unit/*.js
tests/installation-and-basic-usage/*.js
tests/cognito/cdk.out/*
tests/import-tests/typescript.js
